# --- Python & Virtual Envs ---
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
build/
dist/
*.egg-info/

# --- Databases & Infrastructure ---
.env
postgres_data/
redis_data/

# --- Alembic & Migrations ---
# No ignoramos las migraciones, pero sí logs o archivos temporales si los hubiera
*.log

# --- Rust (Para cuando empecemos con Aegis) ---
/target/
**/*.rs.bk

# --- Testing & Quality ---
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# --- OS & IDEs ---
.DS_Store
.vscode/
.idea/
*.swp